<section id="notification-page">
    <div class="container">
        <table class="table table-sm table-hover table-bordered ">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Tiêu đề</th>
                    <th>Người gửi</th>
                    <th>Giờ gửi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
