<section id="personal-info-page">
    <div class="container">
        <h2>Thời khóa biểu</h2>
        <table>
          <tr>
            <td>Thời gian</td>
            <td>Thứ 2</td>
            <td>Thứ 3</td>
            <td>Thứ 4</td>
            <td>Thứ 5</td>
            <td>Thứ 6</td>
            <td>Thứ 7</td>
            <td>Chủ nhật</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
    </div>
</section>
